@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,351;1,351&display=swap');

/* || custom VARIABLES */
:root {
    --primary-color : #BB0000;
    --secondary-color : #666666;
    --third-color : #E8DAB2;
    --accent-color : #453831;
    --text-color : #000000;
}

/* --------------------------------------- */

/* || html defined tags */
body {
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F3F3EB;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* --------------------------------------- */

/* || custom CLASSES */
.navigation {
    width: 100%;
    background-color: #CFD8D7;
}

/* --------------------------------------- */

/* || custom IDs */
#title {
    font-style: italic;
}

#login {
    display: inline-block; 
    float: right;
}

#login li {
    display: inline-block;
}