@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,351;1,351&display=swap');

/* || custom VARIABLES */
:root {
    --primary-color : #D2E9E1;
    --secondary-color : #A3BCBF;
    --third-color : #F2EFDC;
    --fourth-color : #B74F35;
    --accent-color : #A63E26;
    --text-color:  #36454f;
}

/* --------------------------------------- */

/* || html defined tags */
html {
    background-color: var(--third-color);
    color: var(--text-color);
    /* margin: 0; Remove default margin */
    /* padding: 0; Remove default padding */
}

body {
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* --------------------------------------- */

/* || custom CLASSES */
.navigation {
    width: 100%;
    background-color: var(--secondary-color);
}

.navigation ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation #title {
    font-style: italic;
    float: left; 
    margin-left: 25px;
}

.navigation #login {
    margin-top: 25px;
    float: right; /* Adjust alignment for the login form */
}

.navigation hr {
    clear: both; /* Ensure the horizontal rule extends across the entire width */
    margin: 0; /* Remove default margin */
    border: 0; /* Remove default border */
    border-top: 1px solid #000; /* Style the horizontal rule */
}

/* --------------------------------------- */

/* || custom IDs */
#login li {
    display: inline-block;
    margin-right: 5px; /* Add some spacing between form elements */
}