<!DOCTYPE html>
<html lang="en">
  <!-- home.ejs -->
  <!-- Akash Choudhury | Alejandro Echaniz -->

  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="html5, responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>artistry daily</title>
    <meta name="description" content="home for artistry daily" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <ul>
        <li id="title"><h1>Artistry Daily</h1></li>

        <form action="/" method="post" id="rating">
          <li>
            <input
              type="range"
              min="0"
              max="5"
              value="3"
              class="slider"
              id="ratingRange"
              name = "ratingRange",
              list="tickmarks"
            />
            <datalist id="tickmarks">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </datalist>
          </li>
          <li><input type="checkbox" id="isFavorite" value="false" name="isFavorite" onclick="handleCheckboxChange()"></li>
          <label for="isFavorite">Favorite!</label>
          <button type="submit">Submit</button>
        </form>
      </ul>
      <hr />
    </nav>

    <h2><%- paintingTitle %></h2>
    <div class="display"><%- paintingImage %></div>

    <hr />

    <h3>Painting Description</h3>
    <div class="information"><%- paintingInformation %></div>
  </body>
</html>
