<!DOCTYPE html>
<html lang="en">
  <!-- index.ejs -->
  <!-- Akash Choudhury | Alejandro Echaniz -->

  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5, Responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Artistry Daily</title>
    <meta name="description" content="Main page for Artistry Daily" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <nav class="navigation">
      <ul>
        <li id="title">
          <h1>Artistry Daily</h1>
        </li>
        <li id="date"><%- date %></li>
        <form action="/home" method="post" id="login">
          <li><input type="email" id="email" name="email" placeholder="email address" /></li>
          <li>
            <input type="password" id="password" name="password" placeholder="password" />
          </li>
          <li><button type="submit" id="submit">Enter</button></li>
        </form>
      </ul>
      <hr>
    </nav>

    <h2><%- paintingTitle %></h2>

    <div class="display"><%- paintingImage %></div>

    <hr />

    <h3>Painting Description</h3>
    <div class="information"><%- paintingInformation %></div>
  </body>
</html>
