<!doctype html>
<html lang="en">

<!-- index.ejs -->
<!-- Akash Choudhury | Alejandro Echaniz -->

<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="HTML5, Responsive">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Artistry Daily</title>
    <meta name="description" content="Main page for Artistry Daily">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <nav class="navigation">
        <ul>
            <li id="title"><h1>Artistry Daily</h1></li>
            
            <form action="/processLogin" method="post" id="login">
                <li><input type="email" placeholder="email address"></li>
                <li><input type="text" placeholder="password"></li>
                <li><button type="submit">Enter</button></li>
            </form>
        </ul>
        <hr>
    </nav>

    <div class="display">
    </div>

    <div class="information">
    </div>

</body>

</html>